:root {
  --theme-color: #b00;
}

@page {
	size: 7.5in 9.5in;
	@top-center { font-family: Helvetica, sans-serif; font-weight: bold; font-variant-caps: all-small-caps; color: var(--theme-color); font-size: 12pt; }
	@bottom-center { font-family: Helvetica, sans-serif; font-weight: bold; color: var(--theme-color); font-size: 12pt; }
	@footnote {
		border-color: var(--theme-color);
	}
}

body {
	font-family: Helvetica, sans-serif;
	/* font-size: 12pt; */
}

section:not(.unindented) p, section:not(.unindented) p + p {
	text-indent: 0em;
	text-align: left;
}

section:not(.unindented) * + p {
	margin-top: 1rem;
}

h1, h1:has(+ section) {
	margin-top: 50pt;
	color: var(--theme-color);
	border-bottom: 0.4rem solid var(--theme-color);
	padding-bottom: 0.5rem;
	text-align: left;
}

h1.unlisted {
	padding-bottom: 0;
	border-bottom: none;
}

.book-title, .book-subtitle {
	font-size: 3rem;
	font-weight: bold;
	color: var(--theme-color);
}

.book-title {
	margin-top: 10rem;
}

.book-subtitle {
	font-size: 2rem;
}

.book-author {
	margin-top: 7rem;
	font-weight: bold;
	font-size: 2rem;
}

h3, h4 {
	margin-top: 2rem;
}

code {
	font-family: Menlo, Geneva, Courier, monospace;
	color: #04f;
}

a:link {
	color: var(--theme-color);
	font-weight: bold;
	text-decoration: underline;
}

pre {
	font-size: 0.8rem;
}

ul, ol {
	padding-left: 1.1rem;
}

li {
	margin-top: 0.5rem;
}

hr {
	margin: 2rem auto;
	border-bottom: 0.2rem solid var(--theme-color);
	height: 0;
	width: 60%;
}

hr:after {
	height: 0;
	content: "";
}

figure:has(> img) {
	margin: 2rem 0;
	text-align: center;
}

figure img {
	margin: 0 auto;
	max-width: 90%;
	max-height: 80mm;
	border-radius: 8pt;
}

figure:not(.figuremark) figcaption {
	font-size: 0.8rem;
	color: var(--theme-color);
	line-height: 0.8rem;
}

figure.example, figure.example figcaption {
	font-size: 1rem;
}

figure.example figcaption {
	color: var(--theme-color);
	border-color: var(--theme-color);
}

figure.example {
	border-color: var(--theme-color);
	padding-bottom: 0;
}

figure.example .figure-content {
	margin: 0;
}

.reference {
	background-color: var(--theme-color);
	border-radius: 50%;
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 0.8rem;
	padding: 0.25rem 0.4rem 0.1rem 0.4rem;
}

.remove {
	color: var(--theme-color);
}

.toc li > a.page-number::before {
	/* content: target-text(attr(href)); */
}

.toc li > a.page-number::after {
	content: target-counter(attr(href), page);
	float: right;
}

.toc ol ol {
	padding-left: 0.5rem;
}

.toc li > a.section-title {
	display: inline-block;
	max-width: 80%;
}

.toc li:not(:has(> a)) {
	margin-top: -15.5pt;
	list-style-type: none;
}

dl.index {
	background-color: white;
}

::footnote-call, ::footnote-marker {
	font-weight: bold;
	color: var(--theme-color);
}

dl.index a.locator:before {
	content: target-counter(attr(href), page);
}
