@page {
	size: 7.5in 9.5in;
	@top-center { font-family: Helvetica, sans-serif; font-weight: bold; }
	@bottom-center { font-family: Helvetica, sans-serif; font-weight: bold; }
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 12pt;
}

section:not(.unindented) p, section:not(.unindented) p + p {
	text-indent: 0em;
	text-align: left;
}

section:not(.unindented) * + p {
	margin-top: 1rem;
}

h1, h1:has(+ section) {
	margin-top: 50pt;
	color: rebeccapurple;
	text-decoration: underline;
	text-decoration-thickness: 0.2rem;
	text-decoration-color: rebeccapurple;
	text-underline-offset: 0.5rem;
}

h3, h4 {
	margin-top: 2rem;
}

code {
	font-family: Menlo, Geneva, Courier, monospace;
	color: #04f;
}

a:link {
	color: blue;
	text-decoration: underline;
}

pre {
	font-size: 0.8rem;
}

ul, ol {
	padding-left: 1.1rem;
}

li {
	margin-top: 0.5rem;
}

hr {
	margin: 1.5rem 0;
}

hr:after {
	content: "\010AF1";
	font-weight: bold;
	font-size: 1.5rem;
	color: rebeccapurple;
}

hr, hr:after {
	height: 1.6rem;
}

.toc li > a.page-number::before {
	/* content: target-text(attr(href)); */
}

.toc li > a.page-number::after {
	content: target-counter(attr(href), page);
	float: right;
	color: #06f;
}

.toc ol ol {
	padding-left: 0.5rem;
}

.toc li > a.section-title {
	display: inline-block;
	max-width: 80%;
}

.toc li:not(:has(> a)) {
	margin-top: -15.5pt;
	list-style-type: none;
}
